h1 #{title}
p #{message}
br
p #[strong Start Time: ] #{startTime}
p #[strong End Time: ] #{endTime}
if zoomMeetingInviteLink
  p 
    strong Zoom Join Link: 
    a(href=zoomMeetingInviteLink) #{zoomMeetingInviteLink}
if zoomMeetingPassword
  p #[strong Zoom Password: ] #{zoomMeetingPassword}
p #{footer}
